
@media screen and (max-width:1300px) {

    .videoBox {
        left: 10%;
        top:40px;
        height: 80%;
    }
}

@media screen and (max-width:1200px) {

    .wrapper {
        padding:0 100px;
    }

    .videoBox {
        left: 25%;
        height: 80%;
    }

    .intro-text a{
        font-size: 45px;
        line-height: 45px;
    }

    .intro-text ul {
        margin-bottom: 80px;
    }

    .intro {
        margin-bottom: 100px;
    }

    .interview {
        margin-bottom: 150px;
    }


}

@media screen and (max-width:1100px) {
    .videoBox {
        top:40px;
        left: 15%;
        height: 80%;
    }

    .screen-wrapper {
        width: 40%;
    }

    .work-desc {
        width: 60%;
    }
}

@media screen and (max-width:1000px) {
    .videoBox {
        left: 7%;
    }

    .interview-header {
        width: 100%;
        margin-bottom: 0;
    }
    .interview-subtitle{
        margin-bottom: 30px;
    }

    .section-title{
        font-size: 40px;
    }

    .client-logo-wrapper {
        width: 33%;
        height: 100px;
     
    }

    .clients{
        margin-bottom: 100px;
    }



}



@media screen and (max-width:900px) {
    .videoBox {
        left: -10%;
    }

    .form-bottom {
        padding-top: 30px;
    }

}
@media screen and (max-width:800px) {

.videoBox {
    left: -20%;
}

.interview-pic{
display: none; 
}

.slider{
    width: 100%;
}

.section-title {
    font-size: 34px;
}

.clients-title {
    margin-bottom: 20px;
}


.work-desc, .screen-wrapper {
height: 60%;
}

.work-title{
    margin-top: 0;
}

.work-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work-text {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
}

.work-title{
    margin-bottom: 10px;
}

.footer-contact {
    font-size: 17px;
}




}

@media screen and (max-width:750px) {
    .videoBox {
        top: 120px;
        left: 15%;
        height: 50%;
    }

    .intro-text{
        padding-top: 100px;
    }

    .form-bottom {
        flex-direction: column;
        padding-top: 10px;
    }

    .conf{
        padding-right: 0;
        padding-bottom: 15px;
        text-align: center;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;

    }

    .create{
        padding: 15px 0;
    }
}

@media screen and (max-width:700px) {

    .wrapper {
        padding:0 50px;
    }

    .header-wrapper {
        padding:20px 50px;
    }

    .intro-text a{
        font-size: 35px;
        line-height: 25px;
    }

    .intro-text ul {
        margin-bottom: 40px;
    }

    .videoBox {
        top: 59px;
        left: 17%;
        height: 60%;
    }

    .tel {
        display: none;
    }

    .footer-left {
        width: 45%;
    }
    .footer-right {
        width: 55%;
    }


}

@media screen and (max-width:600px) {

    .videoBox {
        top: 100px;
        height: 50%;
    }



    .clients-wrapper-outer{
        width: 1600px;
        padding:0;
        transform: translateX(-25%);
        transition: 1.9s transform;
        margin: 0 auto;
    }

    /* .clients-wrapper{
        width: 100%;
    } */

    /* .clients-logos{
        width: 100%;
    } */

    .client-logo-wrapper {
        width: auto;
        height: 70px;
        padding: 10px;
     
    }
    


    .screen-wrapper{
        width: 30%;
    }

    .work-desc{
        width: 65%;
    }

}
@media screen and (max-width:550px) {

    .header-wrapper{
        padding: 20px 50px;
    }

    .intro-text a{
        font-size: 27px;
        line-height: 20px;

    }


        .videoBox {
            top: 90px;
            height: 50%;
        }


    }




@media screen and (max-width:500px) {

    .videoBox {
        left: 0;
    }

    .section-title {
        font-size: 28px;
    }

    .footer-contact{
        font-size: 14px;
    }

}

@media screen and (max-width:450px) {

    .videoBox {
        position:relative;
        left:2%;
        height: 70%;
    }

    #bgvid {
        position: relative;
        left:-40%;
    }

    .intro-text_title{
        margin-bottom: 30px;
    }

    .intro-text a{
        font-size: 23px;
        line-height: 20px;

    }

    .intro-text li{
        margin-bottom: 30px;
    }

    .main-text {
        font-size: 18px;
        line-height: 28px;
    }

    .client-logo-wrapper {
        width: 50%;
     
    }

    .work-wrapper{
        flex-direction: column-reverse;
    }

    .screen-wrapper{
        width: 70%;
    }

    .work-desc{
        padding: 0;
        margin-top: 50px;
        width: 100%;
        align-items:center;
    }

    .work-text{
        text-align: center;
    }

    .footer-body {
        flex-direction: column;
    }

    .footer-header {
        padding-top: 50px;
        text-align: center;
    }

    .footer-title, .footer-header p {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .footer-left{
        width: 100%;
    }

    .footer-right{
        padding: 0;
        padding-top: 50px;
        width: 100%;
        text-align: center;
    }

    .footer-contact {
        font-size: 18px;

    }

    .footer-contact-wrapper{
        padding-bottom: 25px;
    }

    .conf {
        padding-top: 20px;
        opacity: .3;
    }

    .footer-body{
        margin-bottom: 40px;
    }

    .submit-button{
        margin: 0 auto;
    }

}

@media screen and (max-width:420px) {

    .wrapper {
        padding: 0 25px;
    }

    .header-wrapper{
        padding: 16px 25px 0;
    }

    #bgvid {
        left:-36%;
    }

    .videoBox {
        top: 100px;
    }

    .intro-text ul {
        margin-bottom: 35px;
    }

}

@media screen and (max-width:400px) {



    .videoBox {
        top: 90px;
    }

    #bgvid {
        left:-40%;
    }



    .intro-text_title{
        font-size: 17px;
        margin-bottom: 24px;
    }

    .intro-text li{
        margin-bottom: 20px;
    }

    .footer-header p {
        font-size: 19px;
    }

}

@media screen and (max-width:380px) {

    .header-wrapper{
padding-bottom: 0;
    }

    .logo img {
        height: 20px;
    }

    .menuBtn{
        height: 42px;
        width: 42px;
            }

    #bgvid {
        left:-45%;
    }

    .videoBox {
        top: 80px;
    }

    .work-desc {
        justify-content: space-evenly;
    }
}

@media screen and (max-width:360px) {



    #bgvid {
        left:-50%;
    }

    .videoBox {
        top: 54px;
    }

    .intro-text_title{
        font-size: 14px;
    }

    .intro-text{
        padding-top: 70px;
    }

    .section-title {
        font-size: 22px;
    }

    .interview-subtitle {
        display: none;
    }

    .interview-pic{
        display: block;
        height: 214px;
        width: 100%;
        margin-bottom: 30px;
    }

    .interview-body{
        flex-direction: column-reverse;
    }

}

@media screen and (max-width:340px) {

    
    #bgvid {
        left:-57%;
    }

    .footer-header p {
        font-size: 14px;
    }


    .footer-form>input {
        padding: 13px 0;

        font-size: 14px;
    }

    .footer-right {
        padding-top: 70px;
    }

    .footer-contact-title{
        display: none;
    }

    .footer-contact {
        font-size: 17px;
        line-height: 17px;
    }

    .footer-contact-wrapper:last-child {
font-size: 15px;
line-height: 15px;
opacity: .5;
    }

    .footer-body{
        margin-bottom: 70px;
    }

    .create {
        padding: 0;
        padding-top: 11px;
    }

    .footer-bottom {
        padding-bottom: 34px;
        font-size: 12px;
    }

    .submit-button {
        font-size: 18px;
        padding-top: 10px;
    }


}

@media screen and (max-width:320px) {

    .wrapper {
        padding: 0 20px;
    }

    .header-wrapper{
        padding: 16px 20px;
    }

    #bgvid {
        left:-60%;
    }

    .videoBox {
        top: 30px;
    }

    .intro-text{
        padding-top: 30px;
    }

    .intro-text_title{
        font-size: 13px;
        margin-bottom: 18px;
    }

    .intro-text li{
        margin-bottom: 17px;
    }

    .main-text {
        font-size: 16px;
line-height: 24px;
    }

    .intro-text ul {
        margin-bottom: 28px;
    }



    .work-text{
        font-size: 14px;
line-height: 20px;
    }





}

@media screen and (max-width:320px) {

}