.slick-prev {
    background-color: rgb(126, 60, 60);
}

.slick-next {
    background-color: rgb(60, 126, 82);
}

.slick-arrow {
    display: inline-block;
}

.your-class {
    width: auto;
}

.slider-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}